{% extends 'base.html.twig' %}

{% block title %}Admin contacts list{% endblock %}

{% block body %}
    <div class="container">
        <h3>List of contacts</h3>
        <p>found {{ pagination.getTotalItemCount }} results</p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Message', 'message') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created at', 'createdAt') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.message }}</td>
                    <td>{{ contact.createdAt | date('Y-m-d H:m')}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>There were no contacts yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>
{% endblock %}