{% extends 'base.html.twig' %}

{% block title %}Contact page{% endblock %}
{% block head %}
    {{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Contact form</h3>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.email_confirmation) }}
            {{ form_row(form.message) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Send</button>
        {{ form_end(form) }}
    </div>
{% endblock %}